<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Lista de Cargos</span>
					</li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/cargos/cadastrar}" role="button">
				<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
				<span>Novo Cargo</span>
			</a>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
					<tr>
						<th>#</th>
						<th>
							<a th:href="@{/cargos/listar(page=${pageCargo.pagina}, ord=asc)}">
								<ion-icon name="chevron-up-outline"></ion-icon>
							</a>
							Cargo
							<a th:href="@{/cargos/listar(page=${pageCargo.pagina}, ord=desc)}">
								<ion-icon name="chevron-down-outline"></ion-icon>
							</a>
						</th>
						<th>Departamento</th>
						<th>Ação</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="c : ${pageCargo.registros}">
						<td th:text="${c.id}">1</td>
						<td th:text="${c.nome}">Auxiliar Contábil</td>
						<td th:text="${c.departamento.nome}">Contabilidade</td>
						<td colspan="2">
							<a class="btn btn-info btn-sm" th:href="@{/cargos/editar/{id} (id=${c.id})}" role="button">
								<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a>
							<button type="button" class="btn btn-danger btn-sm" th:id="${'btn_/cargos/excluir/' + c.id}"
							data-toggle="modal" data-target="#myModal">
								<span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-around">
					<nav aria-label="Navegação de página exemplo">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="@{/cargos/listar(page=${1}, ord=${pageCargo.ordenacao}) }" tabindex="-1">Primeira</a>
							</li>
						</ul>
					</nav>
					<nav aria-label="Navegação de página exemplo">
						<ul class="pagination justify-content-center">
							<li th:class="${pageCargo.pagina == 1} ? 'page-item disabled' : 'page-item'">
								<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.pagina - 1}, ord=${pageCargo.ordenacao}) }" tabindex="-1">Anterior</a>
							</li>
							<li class="page-link" th:text="|${pageCargo.pagina} de ${pageCargo.totPaginas}|">1</li>
							<li th:class="${pageCargo.pagina == pageCargo.totPaginas} ? 'page-item disabled' : 'page-item'">
								<a class="page-link"
								   th:href="@{/cargos/listar(page=${pageCargo.pagina + 1}, ord=${pageCargo.ordenacao}) }">Próximo</a>
							</li>
						</ul>
					</nav>
					<nav aria-label="Navegação de página exemplo">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.totPaginas}, ord=${pageCargo.ordenacao})}" tabindex="-1">Última</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div th:replace="fragments/modal :: modal"></div>
		<!-- icones ionic.io-->
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</section>
</body>
</html>		